<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
    <title>CalorieRequirement</title>

    <!-- Bootstrap Link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- CSS only -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-4T6Tz+bl5vKd9M3E4qz7r/2+1C5zg4gAJ2xM0Bd6G7s6lQ6l9aRTKZuyUcK5BdPtF" 
      crossorigin="anonymous" />

    <!-- JavaScript Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js" 
      integrity="sha384-1CmrxMRARb6aLj5Lacy2Tmy3Q

    <script
      src="https://kit.fontawesome.com/36e5d26d04.js"
      crossorigin="anonymous"
    >
    </script>

    <link rel="stylesheet" href="/css/risk.css" />
    <link rel="stylesheet" href="/css/calorieRequirment.css" />
  </head>
  <body>
    <div class="col-10 col-sm-8 col-lg-6 mx-auto">
        <img src="/img/sugarAideLogo.png" class="d-block mx-auto img-fluid" alt="Bootstrap Themes" width="800" height="600" loading="lazy">
      </div>
    <p class="hidden" id="calorie-require"><%= tdee%></p>
    <p class="hidden" id="calorie-require">50</p>
    <!-- circle progress bar -->
    <div class="container">
      <!-- Begin of Row 1 -->
      <div class="row justify-content-center align-content-center py-3">
        <div class="justify-content-center align-content-center">
          <h1 class="text-body-emphasis text-center">
            Daily Carlorie  Requirment
          </h1>
          <div class="progress-container">
            <div class="circular-progress">
              <span class="progress-value"> 0 cal </span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Row 2 -->
    </div>
    <!-- Progress bar -->
    <div class="progress mb-3">
      <div class="progress-bar bg-success" role="progressbar" style="width: <%= sugar %>%" aria-valuenow="<%= sugar %>" aria-valuemin="0" aria-valuemax="100">Sugar <%= sugar %></div>
    </div>
    <div class="progress mb-3">
      <div class="progress-bar bg-info" role="progressbar" style="width: <%= carbs %>%" aria-valuenow="<%= carbs %>" aria-valuemin="0" aria-valuemax="500">Carbohydrates <%= carbs %></div>
    </div>
    <div class="progress mb-3">
      <div class="progress-bar bg-warning" role="progressbar" style="width: <%= fats %>%" aria-valuenow="<%= fats %>" aria-valuemin="0" aria-valuemax="100">Fats <%= fats %></div>
    </div>
    <div class="progress mb-3">
      <div class="progress-bar bg-danger" role="progressbar" style="width: <%= proteins %>%" aria-valuenow="<%= proteins %>" aria-valuemin="0" aria-valuemax="100">Proteins <%= proteins %></div>
    </div>
    <script src="/js/calorieRequirement.js"></script>
  </body>
</html>